.resultIndex {
  text-align: center;
}
.box1 {
  border: solid 5px;
}
.insideResultIndex {
  border: solid 3px;
  padding: 20px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
